.form {
    height: 100vh;
    div {
        width: 40vw;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
    h6 {
        margin: 0 0 10px 0;
        padding: 0;
    }
    
    margin: 0 100px;
    display: flex;
    label {
        width: 200px;
    }
    input, textarea {
        width: 300px;
        margin: 10px 0;
    }
    button {
        background-color: lightgray;
        border-radius: 10px;
        border: none;
        color: white;
        width: 200px;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .submit {
        margin: auto;
        background-color: gray;
        border-radius: 10px;
        border: none;
        color: white;
        width: 200px;
        padding: 20px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
}